<form action ='/recipes' method="post">
  <input type="text" id="name">
  <input type="text" id="ingredients">
  <input type="integer" id="cook_time">
  <input type="submit" name="submit" id="submit">
</form>
